<div [id]="valiseName" class="pt-10 relative">
    <!-- <btn class="px-3 py-2 rounded bg-indigo-200 text-indigo-800 hover:bg-indigo-800 hover:text-indigo-200 cursor-pointer transition-all duration-200 ease-out absolute top-0 z-10" data-tab="cabine" (click)="activeTab('cabine')" [ngClass]="{'ADD CLASS': activeTabName === valiseName}" (cdkDropListDropped)="drop($event)">
        <span>{{tabName}}&nbsp;(<span id="reste-cabine" class="reste">{{itemNumbers}}</span>)</span>
    </btn> -->
    <ul class="flex flex-col gap-2" id="" [ngClass]="{'hidden': activeTabName !== valiseName}">
        <ng-container *ngIf="valiseContent">
            <li cdkDrag class="rounded px-3 py-2 flex justify-between items-center cursor-pointer transition-all ease-out duration-200 hover:-translate-y-1" *ngFor="let item of valiseContent; index as id" [ngClass]="{'bg-indigo-800 text-indigo-100' : item.isInValise, 'bg-indigo-100 text-indigo-900' : !item.isInValise}" (click)="checkItem(id, item.place)">
                <div class="font-serif">{{item.name}}</div>
                <div class=""><button class="px-4 py-3 flex rounded bg-white text-indigo-900" (click)="deleteItem(id, item.place)">x</button></div>
            </li>  
        </ng-container>                    
    </ul>
</div>