<ul class="flex flex-col gap-2" id="" [ngClass]="{'hidden': activeTabName !== valiseName}">
    <ng-container *ngIf="valiseContent">
        <li cdkDrag class="rounded px-3 py-2 flex justify-between items-center cursor-pointer transition-all ease-out duration-200 hover:-translate-y-1" *ngFor="let item of valiseContent; index as id" [ngClass]="{'bg-indigo-800 text-indigo-100' : item.isInValise, 'bg-indigo-100 text-indigo-900' : !item.isInValise, 'bg-red-500': isDragging}" (click)="checkItem(id, valiseName)">
            <div class="font-serif">{{item.name}}</div>
            <div class=""><button class="px-4 py-3 flex rounded bg-white text-indigo-900" (click)="deleteItem(id, valiseName)">x</button></div>
        </li>  
    </ng-container>                    
</ul>