<div>
    <div class="notification rounded px-3 py-2 bg-rose-800 text-white absolute top-4 right-4 transition-all ease-out duration-200" [ngClass]="{'active': isNotifActive}">
        <button></button>
        {{notificationMessage}}
    </div>
    <header class="p-8 bg-indigo-50 flex justify-center">
        <div class="w-full max-w-3xl flex flex-col items-center gap-4">
            <h1 class="font-serif text-3xl text-indigo-500">Je mets dans ma valise</h1>
            <form class="w-full flex flex-col gap-4 items-center" [formGroup]="newItemForm" (ngSubmit)="addItemToList()">
                <div class="w-full flex flex-col gap-2 sm:flex-row">
                    <div class="sm:basis-6/12 md:basis-9/12">
                        <label class="text-indigo-400" for="">Objet</label>
                        <div>
                            <input class="w-full rounded border-solid border-2 border-indigo-400 px-3 py-2 transition-all ease-out duration-200 cursor-pointer hover:border-indigo-700 focus:border-blue-700" formControlName="newItemName" type="text" name="label" id="input-object">
                        </div>
                    </div>
                    <div class="sm:basis-6/12 md:basis-3/12">
                        <label class="text-indigo-400" for="">Valise</label>
                        <div>
                            <select class="w-full rounded border-solid border-2 border-indigo-500 px-3 py-2 transition-all ease-out duration-200 cursor-pointer hover:bg-indigo-100" formControlName="newItemPlace" name="valise" id="select-valise">
                                <option value="soute">De soute</option>
                                <option value="cabine">De cabine</option>
                                <option value="main">À main</option>
                            </select>
                        </div>
                    </div>
                </div><!-- .columns-->
                <button class="w-fit px-3 py-2 rounded bg-indigo-900 text-indigo-50 transition-all ease-out duration-200 hover:bg-indigo-600" id="add-object-button">Ajouter</button>
            </form>
        </div>
    </header>
    <main class="p-8 flex flex-col gap-4 items-center main" cdkDropListGroup>
        <h2 class="font-serif text-2xl text-indigo-500">État</h2>
        <!-- tabstitle -->
        <div class="w-full max-w-3xl">
            <ul class="flex flex-col gap-2 sm:flex-row">
                <li class="px-3 py-2 rounded bg-indigo-200 text-indigo-800 hover:bg-indigo-800 hover:text-indigo-200 cursor-pointer transition-all duration-200 ease-out" data-tab="cabine" (click)="activeTab('cabine')" [ngClass]="{'bg-indigo-800 text-white': activeTabName === 'cabine'}" cdkDropList (cdkDropListDropped)="sortDrop($event)"  [cdkDropListData]="valiseItems.cabine">
                    <a class="pointer-events-none">Valise de cabine&nbsp;(<span id="reste-cabine" class="reste">{{itemNumbers.cabine}}</span>)</a>
                </li>
                <li class="px-3 py-2 rounded bg-indigo-200 text-indigo-800 hover:bg-indigo-800 hover:text-indigo-200 cursor-pointer transition-all duration-200 ease-out" data-tab="soute" (click)="activeTab('soute')" [ngClass]="{'bg-indigo-800 text-white': activeTabName === 'soute'}" cdkDropList (cdkDropListDropped)="sortDrop($event)"  [cdkDropListData]="valiseItems.soute">
                    <a class="pointer-events-none">Valise de soute&nbsp;(<span id="reste-soute" class="reste">{{itemNumbers.soute}}</span>)</a>
                </li>
                <li class="px-3 py-2 rounded bg-indigo-200 text-indigo-800 hover:bg-indigo-800 hover:text-indigo-200 cursor-pointer transition-all duration-200 ease-out" data-tab="main" (click)="activeTab('main')" [ngClass]="{'bg-indigo-800 text-white': activeTabName === 'main'}" cdkDropList (cdkDropListDropped)="sortDrop($event)"  [cdkDropListData]="valiseItems.main">
                    <a class="pointer-events-none">Sac à main&nbsp;(<span id="reste-main" class="reste">{{itemNumbers.main}}</span>)</a>
                </li>
            </ul>
        </div>
        <!-- end tabstitle -->
        <!-- tabscontent -->
        <!-- tabcontent 1 -->
        <div class="w-full max-w-3xl">
            <app-valise-tab 
            *ngFor="let content of valiseItems | keyvalue; index as id"
            [valiseName]="content.key"
            [valiseContent]="content.value"
            [activeTabName]="activeTabName"
            (checkItemEmit)="checkItem($event)"
            (deleteItemEmit)="deleteItem($event)"
            cdkDropList (cdkDropListDropped)="sortDrop($event)"  [cdkDropListData]="content.value"
            >
            </app-valise-tab>
        </div>
    </main>
    <footer class="p-8 bg-indigo-50 flex justify-center"><p>© P. Charlier - 2023</p></footer>
</div>